{% extends "blog/base.html" %}

{% block contenuto %}
<h1> (header)Collegamenti <h1>
    <P> (paragrafo)qui mettero dei collegamenti
        <center>(center) qui centro
            <font color="blue">
                <b>collegamento in grassetto</b>
                collegamento 1
                collegamento 2
                collegamento 3
                ...
                ...
            </font>
        </center>
    <p>
        la mia <a href="/ciao/">prima vista con django</a>
        la mia <a href="/index/">seconda vista con django</a>
    </p>
    </P>
{% endblock %}